<header>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid"> 
      <!-- <div class="logo">
        <img src="https://www.stickpng.com/es/img/dibujos-animados/rick-y-morty/rick-y-morty-logo" alt="logo">
      </div>   -->
      <a class="navbar-brand" routerLink="/">RickAndMorty</a>
      <form class="d-flex">
        <app-form-search></app-form-search>
        <!-- <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search"> -->
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
</header>