<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let character of characters" >        
        <div class="card w-60 shadow p-3 mb-5 bg-body rounded" >
            <div class="card text-white bg-secondary " style="max-width: 30rem;" >
                <div class="card-header">{{character.status}}</div>                
                <div class="card-body">
                  <h5 class="card-title text-uppercase">{{character.name}}</h5>
                  <button (click)="goToCharacterDetail(characters)" >
                    <img  src="{{character.image}}" class="card-img-top" [alt]="character.name">
                    <a routerLink="/character-details, {{character.id}}" ></a>
                  </button>

                  <div class='moreInfo'>
                    <div class='species'>
                      Species: <span class='big'> {{character.species}} </span>
                    </div>
                    <div class="text-primary">
                      <p class="fs-5">
                        <a class="text-decoration-none" [routerLink]="['/location', character.locationId]">Location</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>

